/*.elc
/analyse.el
/auctex
/eldoc-highlight.el
/ess
/f90-interface-browser.el
/git
/git-blame.el
/git.el
/gnus
/google-maps
/lilypond
/org-mode
/paredit.el
/psvn.el
/read-csv.el
/reverse-string.el
/rnc-mode.el
/xml-rpc.el
/xml-rpc.elc
